<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,200;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/clientes/main.css">
    <link rel="stylesheet" href="style/clientes/button.css">
    <link rel="stylesheet" href="style/clientes/records.css">
    <link rel="stylesheet" href="style/clientes/modal.css">
    <title>Crud</title>
</head>
<body  >
    <img src="/public/assets/fundo.jpg" alt="">
    
    <header>
        <h1 class="header-t">Cadastro de Clientes</h1>
    </header>
    <main>
        <button type= "button" class="button blue mobile" id="cadastrarCliente"> Cadastro de Clientes </button>
        <table class="records">
            <thead>
                <tr>
                    <th> Nome</th>
                    <th> CNPJ/CPF</th>
                    <th> Cidade</th>
                    <th> Email</th>
                    <th> Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Leo Lopes</td>
                    <td>01313393622</td>
                    <td>Vicosa</td>
                    <td>leo-llopes@hotmail.com</td>
                    <td>
                        <button type="button" class="button editar">Editar</button>
                        <button type="button" class="button excluir">Excluir</button>
                    </td>
                </tr>
                <tr>
                    <td>Leo Lopes</td>
                    <td>01313393622</td>
                    <td>Vicosa</td>
                    <td>leo-llopes@hotmail.com</td>
                    <td>
                        <button type="button" class="button editar">Editar</button>
                        <button type="button" class="button excluir">Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="modal" id="modal">
            <div class="modal-content">
                <header class="modal-header">
                    <h2> Novo Cliente </h2>
                    <span class="modal-close" id="modalClose">&#10006;</span>
                </header>
                <form class="modal-form" id="form">
                    <input type="text" class="modal-field" id="nome"  placeholder="NOME DO CLIENTE" required>
                    <input type="text" class="modal-field" id="cnpjCpf" placeholder="CNPJ/CPF" required>
                    <input type="text" class="modal-field" id="cidade" placeholder="CIDADE" required>
                    <input type="email" class="modal-field" id="email" placeholder="EMAIL" required>
                </form>
                <footer class="modal-footer">
                    <button class="button editar " id="salvar">Salvar</button>
                    <button class="button excluir" id="cancelar" > Cancelar</button>
                </footer>
            </div>
        </div>
    </main>
    <footer>
    </footer>
    <script src="/js/clientes.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>  
</body>
</html>