<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NavBar</title>
  <link rel="stylesheet" href="style/main.css">
</head>

<body>
  <header>
    <nav>
      <a class="logo" href="/">EMPRESA</a>
      <div class="menu">
        <div class="pri"></div>
        <div class="sec"></div>
        <div class="ter"></div>
      </div>
      <ul class="list">
        <li><a href="#"> Inicio </a> </li>
        <li><a href="/clientes"> Clientes </a> </li>
        <li><a href="/produtos"> Produtos </a> </li>
        <li><a href="#"> Contato </a> </li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="container">
      <div class="content">
        <div class="accordion_item">
          <div class="accordion_header">
            <span>
              Clientes
            </span>
            <div class="icon">
              +
            </div>
          </div>

          <div class="accordion_content">
            <form class="modal-form" id="form">
              <input type="text" class="modal-field" id="nome" placeholder="NOME DO CLIENTE" required>
              <input type="text" class="modal-field" id="cnpjCpf" placeholder="CNPJ/CPF" required>
              <input type="text" class="modal-field" id="cidade" placeholder="CIDADE" required>
              <input type="email" class="modal-field" id="email" placeholder="EMAIL" required>
            </form>
            <footer class="modal-footer">
              <button class="button editar " id="salvar">Salvar</button>
              <button class="button excluir" id="cancelar"> Cancelar</button>
            </footer>
          </div>
        </div>
        <div class="accordion_item">
          <div class="accordion_header">
            <span>
              Produtos
            </span>
            <div class="icon">
              +
            </div>
          </div>

          <div class="accordion_content">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium amet labore voluptatum nemo aliquid
              quam aut corporis deserunt aliquam hic provident doloremque consectetur rem ex, velit veritatis beatae
              quidem iusto.
          </div>
        </div>
        <div class="accordion_item">
          <div class="accordion_header">
            <span>
              Relátorios
            </span>
            <div class="icon">
              +
            </div>
          </div>

          <div class="accordion_content">
            <form class="modal-form" id="form">
              <input type="text" class="modal-field" id="nome"  placeholder="NOME DO CLIENTE" required>
              <input type="text" class="modal-field" id="cnpjCpf" placeholder="CNPJ/CPF" required>
              <input type="text" class="modal-field" id="cidade" placeholder="CIDADE" required>
              <input type="email" class="modal-field" id="email" placeholder="EMAIL" required>
          </form>
          <footer class="modal-footer">
              <button class="button editar " id="salvar">Salvar</button>
              <button class="button excluir" id="cancelar" > Cancelar</button>
          </footer>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="principal" >
                <div class="primary">
                    <div class="flip-container">
                        <div class="flipper">
                          <div class="front">
                            <img src="assets/cardfundo.png">
                          </div>
                          <div class="back">
                            <img src="assets/escrito.png" />
                          </div>
                        </div>
                    </div>
                </div>
                <div class="secundary">
                    <div class="flip-container">
                        <div class="flipper">
                          <div class="front">
                            <img src="assets/cardfundo.png">
                          </div>
                          <div class="back">
                            <img src="assets/escrito.png" />
                          </div>
                        </div>
                    </div>
                </div>
                <div class="tresemingles">
                    <div class="flip-container">
                        <div class="flipper">
                          <div class="front">
                            <img src="assets/cardfundo.png">
                          </div>
                          <div class="back">
                            <img src="assets/escrito.png" />
                          </div>
                        </div>
                    </div>
                </div>
            </div> -->
    </div>
  </main>
  <script src="/js/NavBar.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>

</html>