<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar</title>
    <link rel="stylesheet" href="style/main.css">
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="/" >BRABO</a>
            <div class="menu">
                <div class="pri" ></div>
                <div class="sec"></div>
                <div class="ter" ></div>
            </div>
            <ul class="list">
                <li><a href="#"> Inicio </a> </li>
                <li><a href="#"> Clientes </a> </li>
                <li><a href="#"> Produtos </a> </li>
                <li><a href="#"> Contato </a> </li>
            </ul>
        </nav>
    </header>
    <main >
        <section class="section" >
            <div class="principal" >
                <div class="primary">
                    <div class="flip-container">
                        <div class="flipper">
                          <div class="front">
                            <img src="assets/cardfundo.png">
                          </div>
                          <div class="back">
                            <img src="assets/escrito.png" />
                          </div>
                        </div>
                    </div>
                </div>
                <div class="secundary">
                    <div class="flip-container">
                        <div class="flipper">
                          <div class="front">
                            <img src="assets/cardfundo.png">
                          </div>
                          <div class="back">
                            <img src="assets/escrito.png" />
                          </div>
                        </div>
                    </div>
                </div>
                <div class="tresemingles">
                    <div class="flip-container">
                        <div class="flipper">
                          <div class="front">
                            <img src="assets/cardfundo.png">
                          </div>
                          <div class="back">
                            <img src="assets/escrito.png" />
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="/js/NavBar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>