<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>LOGIN</title>
</head>

<body>
    <div class="menu_login">
        <div class="esq_login">
            <h1>GRUPO BMS</h1>
            <img src="assets/astronaut.svg" class="imagem" alt="astronauta">
        </div>
        <div class="dir_login">
            <div class="card_login">
                <img src="assets/logo sem fundo total.png" class="logo">
                <div class="textField">
                    <label for="usuario"></label>
                    <input type="text" id="usuario" name="Usuario" placeholder="Usuário">
                </div>
                <div class="textField">
                    <label for="senha"></label>
                    <input type="password" id="senha" name="Senha" placeholder="Senha">
                </div>
                
                <button class="butaoLogin" onclick="salvarUsuario()" text="LOGIN">LOGIN</button>
                <button class="butaosenha" onclick="salvarUsuario()" text="esquece">Esqueceu sua senha?</button>
                <button class="butaocad" id="cadastro" onclick="salvarUsuario()" text="cadastro">Junte-se a nós</button>
            </div>
        </div>
        <div class="modal" id="modal">
            <div class="modal-content">
                <header class="modal-header">
                    <h2> Junte-se a Nós !!! </h2>
                    <span class="modal-close" id="modalClose">&#10006;</span>
                </header>
                <form class="modal-form" id="form">
                    <input type="text" data-index='new' class="modal-field" id="usuario" placeholder="USUARIO" required>
                    <input type="text"  class="modal-field" id="cnpjCpf" placeholder="CNPJ/CPF" required>
                    <input type="password"  class="modal-field" id="senha" placeholder="SENHA" required>
                    <input type="text"  class="modal-field" id="celular" placeholder="CELULAR" required>
                </form>
                <footer class="modal-footer">
                    <button class="button green" id="salvar" >Salvar</button>
                    <button class="button red" id="cancelar">Cancelar</button>
                </footer>
            </div>
        </div>
    </div>
    <script src="/js/login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>

</html>